<div class="sidebar">
  <div class="content">
    <h1><%= @line.name %> - Ida</h1>
    <%= render 'form' %>
  </div>
</div>
<div class="main_window">
  <div class="map">
    <div id="map-canvas"/>
  </div>
</div>
<%= content_for :foot do %>
  <%= render 'lines/maps' %>
  <%= javascript_include_tag 'l_map', :cache => true %>
  <script>
  $( document ).ready(function() {
    initialize(true);
    calcRoute();
  })
  </script>
<% end %>