<!DOCTYPE html>
<html>
<head>
  <title>BusK</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximun-scale=1">
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= yield :head %>
</head>
<body>
<input id="active_menu" class="active_menu" type="checkbox">
<div class="menu">
  <%= render 'application/menu' %>
</div>
<header class="header">
  <label for="active_menu" class="menu_btn"><%= image_tag('menu.png') %></label>
  <div class="notice"><%= notice if notice %></div>
  <% if user_signed_in? %>
    <input id="active_settings" class="active_settings" type="checkbox">
    <% if content_for?(:settings) %>
    <label for="active_settings" class="settings_btn"><%= image_tag('settings.png') %></label>
      <div class="settings">
        <span>Configurações</span>
        <%= yield :settings %>
      </div>
    <% end %>
  <% end %>
  <div class="logo">
    <%= image_tag('logo.png') %>
  </div>
</header>
<div class="wrapper">
  <div class="content">
    <!-- <div class="main_container"> -->
      <%= yield %>
    <!-- </div> -->
  </div>
</div>

<footer>
  <%= javascript_include_tag 'jquery' %>
  <%= yield :foot %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= javascript_include_tag 'jquery_ujs' %>
</footer>
</body>
</html>
